fastapi==0.115.12
galileo_observe==1.23.0
numpy==2.2.5
openai==1.78.0
pandas==2.2.3
promptquality==1.11.1
pydantic==2.11.4
pypdf==5.4.0
python-dotenv==1.1.0
Requests==2.32.3
scikit_learn==1.6.1
uvicorn==0.34.2
python-dotenv==1.0.1
